section p {
    display: inline-block;
}

.gamechoice {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gamechoice button {
    margin: 2rem;
}

a {
    display: inline-block;
    margin-bottom: 2rem;
}

.user-guess {
    display: inline-block;
}

.guess-tally {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 1rem;
    margin-right: 1rem;
}

#guesses {
    display: inline-block;
    margin-left: .5rem;
}

.guess-tally p {
    display: inline-block;
}

.maingame {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.computerside {
    display: none;
}

#cpu-game {
    display: none;   
}

/* .userside {
}

.computerside {
} */

.results {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#game p, #cpu-game p {
    display: block;
}

.spacer {
    display: inline-block;
    margin-left: .5rem;
}

@media screen and (max-width: 500px) {
    .maingame {
        justify-content: inherit
    }
    #game, #cpu-game, input {
        font-size: .85rem;
    }
    #user-submit-number, #your-number {
        width: 7rem;
    }

    .guess-tally {
        position: relative;
        bottom: .5rem;
    }
}
